# 3.8< deepgram doesnt work
aenum  
aiofiles  
aiohttp  
aiosignal  
anyio  
asgiref  
attrs  
certifi  
charset-normalizer  
contourpy  
cycler  
dataclasses-json  
# deepgram-sdk  
Django  
filelock  
fonttools  
frozenlist  
fsspec  
h11  
httpcore  
httpx  
idna  
Jinja2  
kiwisolver  
llvmlite  
MarkupSafe  
marshmallow  
more-itertools  
mpmath  
multidict  
mypy-extensions  
networkx  
numba  
numpy  
openai-whisper  
packaging  
pandas  
pillow  
plotly  
pyparsing  
python-dateutil  
python-dotenv  
pytz  
regex  
requests  
setuptools  
six  
sniffio  
sqlparse  
sympy  
tenacity  
tiktoken  
torch  
tqdm  
typing-inspect  
typing_extensions  
tzdata  
urllib3  
websockets  
wheel  
yarl  